@{
    ViewBag.Title = "Oops! We faced a little problem.";
}

<section class="error-content">
    <h1> @ViewBag.Title </h1>
    <hr />
    <p>
        We are sorry for the inconvenience, but we encountered an unexpected problem while trying to serve you. rest assured we have noted down the issue on our team's 'Wall of Fail' and will be fixing it ASAP.
    </p>
</section>