@model SetPasswordExpirationPolicy

<section class="form-container form-popup">
	@using (Html.BeginForm("PasswordExpirationPolicy", "Bank", FormMethod.Post))
	{
		@Html.AntiForgeryToken()

		<fieldset>
			<div class="form-group">
				@Html.LabelFor(m => m.ExpirePasswordInDays, new { @class = "label-big" })
				@Html.TextBoxFor(m => m.ExpirePasswordInDays, new { @class = "form-control", placeholder = "Please enter days" })
				@Html.ValidationMessageFor(m => m.ExpirePasswordInDays)
			</div>
			<br />
			<button type="submit" class="btn">Update</button>
			<button type="button" class="btn cancel" onclick="toggleBox(-1)">Close</button>
		</fieldset>
	}
</section>