@{
    ViewBag.Title = "Contact";
}

<article class="contact">
    <article>
        <h2 class="header-2">Phone <i class="fa fa-fw fa-phone" data-toggle="tooltip" data-placement="top" title="Phone" aria-label="Phone"></i></h2>
        <p>
            <span class="label">Main:</span>
            <span>425.555.0100</span>
        </p>
        <p>
            <span class="label">After Hours:</span>
            <span>425.555.0199</span>
        </p>
    </article>
    <article>
        <h2 class="header-2">Email <i class="fa fa-fw fa-envelope" data-toggle="tooltip" data-placement="top" title="Mail" aria-label="Mail"></i></h2>
        <p>
            <span class="label">Support:</span>
            <span><a href="mailto:Support@example.com">Support@example.com</a></span>
        </p>
        <p>
            <span class="label">Marketing:</span>
            <span><a href="mailto:Marketing@example.com">Marketing@example.com</a></span>
        </p>
        <p>
            <span class="label">General:</span>
            <span><a href="mailto:General@example.com">General@example.com</a></span>
        </p>
    </article>
    <article>
        <h2 class="header-2">Address <i class="fa fa-fw fa-address-card" data-toggle="tooltip" data-placement="top" title="Address" aria-label="Address"></i></h2>
        <p>
            <span class="label">1600, Amphitheatre Parkway,</span><br>
            <span class="label">Mountain View, CA,</span><br>
            <span class="label">US</span>
        </p>
    </article>
</article>