﻿@{
     ViewBag.Title = "Home";

 }

 <section class="home-content">
     <h1> @ViewBag.Title </h1>
     <hr />
     <p>
         This website is built upon <a href="https://AspSecurityKit.net/">AspSecurityKit</a> – the most robust package for creating secure websites and web applications on the Asp.net mvc platform.
         To learn more about AspSecurityKit, visit <a href="https://AspSecurityKit.net/docs/">docs</a>.
         If you have any questions or need help, shoot out an email at <a href="mailto:support@AspSecurityKit.net">support</a>.
     </p>
 </section>
